<div id="pieces">
<p id="notice"><%= notice %></p>

  <h2><%= @piece.title %></h2>

<img id="image" src="<%= @piece.image.url %>">

  <p id="description"><%= @piece.description %></p>
<%= @piece.size %>
<p>
  <strong>Located In:</strong>
  <%= @piece.location.name %>
</p>
</div>
