<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @piece.title %>
</p>

<p>
  <strong>Size:</strong>
  <%= @piece.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @piece.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @piece.value %>
</p>

<p>
  <strong>Location:</strong>
  <%= @piece.location %>
</p>

<p>
  <strong>Active:</strong>
  <%= @piece.active %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
