<<<<<<< HEAD
<p id="notice"><%= notice %></p>

=======
<div id="location">
<p id="notice"><%= notice %></p>
<h2><%= @location.name %></h2>
<% if @pieces %>
	<% @pieces.each do |piece| %>
	<a href="/pieces/<%= piece.id %>"><div>
		<div class="piece" style="background-image: url('<%= piece.image.url %>');"></div>
	</div></a>
	<% end %>
<% end %>
</div>
>>>>>>> 68109f39247bd4cdf3856ef55e3397995a3af0b1
